.containerForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;  
    margin: 50px auto;
    width: 1000px;
    height: 600px;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0.5);
}

.Form {
    padding: 20px;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0.5);
}

.firstDiv {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0.5);
}

.errorText {    
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0.5);
}

.textInput {
    color: #0f0;
    background: transparent;
    padding: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0.5)
}

option {
    background-color: black;
    color: #0f0;
}

.selectContainer {
    color: #0f0;
    background: transparent;
    padding: 10px;
    letter-spacing: 0.1em; 
    text-transform: uppercase;
    outline: none;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0.5);
    cursor: pointer;
    position: relative;
    bottom: 0px;
}

.selectContainer:hover {
    animation: flicker2 0.1s infinite alternate;
    color: #0f0;
    border: 1px solid transparent;
    box-shadow: 0 0 40px #0A0, inset 0 0 40px #0A0;
}

.selectContainer:active {
    font-weight: bold;
}

.selectContainer:visited {
    font-weight: bold;
    border: 1px solid #0f0;
}
