html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    animation: twitch 0.5s infinite;
    background: repeating-linear-gradient(0deg, #000, #000 2px, #020 2px, #020 4px);
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.screen {
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: column;
    animation: flicker 0.001s infinite;
    mix-blend-mode: screen;
}

@keyframes twitch {
    0% {
      padding: 0px;
    }
    100% {
      padding: 1px;
    }
}