.CardsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding: 2em;
}

.navLink {
    text-decoration: none;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    color: #0f0;
    background: transparent;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px rgba(0,255,0,0.5), rgba(0,255,0,0.5);
    cursor: pointer;
    padding-bottom: 30px;
    max-width: 350px;
    max-height: 350px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Buttons, button{
    font-family: 'Share Tech Mono', monospace;
    color: #0f0;
    background: transparent;
    padding: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px rgba(0,255,0,0.5), rgba(0,255,0,0.5);
    cursor: pointer;
    position: relative;
    bottom: 0px;
}

.Buttons:hover, button:hover{
    animation: flicker2 0.1s infinite alternate;
    color: #0f0;
    border: 1px solid transparent;
    box-shadow: 0 0 40px #0A0, inset 0 0 40px #0A0;
}

.Buttons:active{
    font-weight: bold;
}

.Buttons:visited{
    font-weight: bold;
    border: 1px solid #0f0;
}

@keyframes flicker {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
}