.ALL {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #121;
box-shadow: inset 0 0 200px #020;
background: linear-gradient(to bottom, #001100 0%, #111311 100%);
color: #0f0;
font-family: 'Share Tech Mono', monospace;
font-size: 16px;
margin: 0;
overflow: hidden;
}



.btnTransparent {
background-color: transparent;
border: none;
color: #0f0;
margin-top: -px;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
}

@keyframes flicker {
0% {
opacity: 1;
}
18% {
opacity: 1;
}
19% {
opacity: 0;
}
20% {
opacity: 1;
}
96% {
opacity: 1;
}
97% {
opacity: 0;
}
98% {
opacity: 1;
}
}
