.ALL {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #121;
box-shadow: inset 0 0 200px #020;
background: linear-gradient(to bottom, #001100 0%, #111311 100%);
color: #0f0;
font-family: 'Share Tech Mono', monospace;
font-size: 16px;
margin: 0;
overflow: hidden;
}



.btnTransparent {
background-color: transparent;
border: none;
color: #0f0;
margin-top: -px;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
}

@keyframes flicker {
0% {
opacity: 1;
}
18% {
opacity: 1;
}
19% {
opacity: 0;
}
20% {
opacity: 1;
}
96% {
opacity: 1;
}
97% {
opacity: 0;
}
98% {
opacity: 1;
}
}

.mainContainer {
display: flex;
justify-content: center;
align-items: center;
position: relative;
height: 66px;
width:  63px;
animation: flicker 3s infinite;
}

.countriesContainer {
display: flex;
justify-content: flex-start;
align-items: center;
position: absolute;
height: 96%;
width: 96%;
border-radius: 100px;
overflow: hidden;
z-index: 2;
}

.countries {
position: absolute;
animation: axis-spin 5s steps(24) infinite;
}

@keyframes axis-spin {
from {
transform: translatex(0px);
}
to {
transform: translatex(-123px);
}
}

.globe {
position: absolute;
filter: drop-shadow(-2px -2px 8px #15ff00) drop-shadow(2px 2px 3px #00ff22);
}